<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="WebdeskKioskNFCPlugin" version="1.0.0">

    <name>Webdesk Kiosk NFC plugin</name>
    <license>MIT</license>
    <author>Adrian Vasquez</author>

    <description>
        A
    </description>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <js-module src="www/index.js" name="WebdeskKioskNFCPlugin">
        <runs />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.NFC" />
            <uses-permission android:name="android.permission.USB" />
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WebdeskKioskNFCPlugin">
                <param name="android-package" value="WebdeskKioskNFCPlugin" />
            </feature>
        </config-file>

        <!-- source-files -->
        <source-file src="nfcPlugin/src/main/java/WebdeskKioskNFCPlugin.java" target-dir="src/" />
        <source-file src="nfcPlugin/src/main/java/RS485Util.java" target-dir="src/" />
        <source-file src="nfcPlugin/src/main/java/HexUtil.java" target-dir="src/" />
        <source-file src="nfcPlugin/src/main/java/SerialReadThread.java" target-dir="src/" />
        <!-- <framework src="nfcPlugin/build.gradle" custom="true" type="gradleReference" /> -->
         <framework src="plugin.build.gradle" custom="true" type="gradleReference" />
        <!-- <framework src="settings.gradle" custom="true" type="gradleReference" /> -->
        <!-- <source-file src="settings.gradle" target-dir="src/.." />
        <source-file src="nfcPlugin/build.gradle" target-dir="src/.." /> -->
    </platform>

</plugin>