<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="webdesk-kiosk-nfc-plugin" version="1.0.0">

    <name>Webdesk Kiosk NFC plugin</name>
    <license>MIT</license>
    <author>Adrian Vasquez</author>

    <description>
       A
    </description>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-permission android:name="android.permission.USB"/>
        </config-file>

      
        <!-- source-files -->
        <source-file src="src/android/WebdeskKioskNFCPlugin.java" target-dir="src/at/workflow"/>
 
    
    </platform>

</plugin>
